.re__container, .op__container {
    z-index: 1;
}
.re__content, .op__content {
    margin: 2% 0 3% 13%;
}
.re__content img, .op__content img{
    width: 115px;
    height: 115px;
    margin-right: 2%;
    border-radius: 10%;
}
.re__content p,h2{
    margin: 0%;
    padding: 0%;
    display: inline;
    position: absolute;
}
.re__content .au{
    margin: .2% 0 0 0;
    color: #a19d9d;
}
.re__content .ti {
    margin: 1.9% 0 0 0;
}
.re__content .su {
    margin: 4.6% 0 0 0;
    font-size: 17px;
    color: #555;
}
.op__content p,h2{
    margin: 0%;
    padding: 0%;
    display: inline;
    position: absolute;
}
.op__content .au {
    margin: .2% 0 0 0;
    color: #a19d9d;
}
.op__content .ti {
    margin: 1.9% 0 0 0;
}
.op__content .su {
    margin: 4.9% 0 0 0;
    font-size: 17px;
    color: #555;
}
.ti__a .ti{
    text-decoration: none;
    color:black;
}
.ti__a .ti:hover {
    font-size: 40px;
}