html {
    min-height: 100%;
    position:relative;
}
body {
    margin: 0;
    margin-bottom: 40px;
    background-color: #053442;
}
/*----Header----*/
header {
    color:black;
    background-color: #02181F;
}
header h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 56px;
    margin: auto;
    padding: 0%;
}

header p {
    font-family: 'Montserrat', sans-serif;
    background-color: #02181F;
    text-align: center;
    font-size: 28px;
    margin: auto;
}
/*----Nav----*/
.nav {
    overflow: hidden;
    background-color: #02181F;
    position: sticky;
    position: -webkit-sticky;
    top:0;
}
.nav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.nav a:hover{
    background-color: #ddd;
    color: black;
}
.nav a.active {
    background-color: #031f27;
    color: white;
}
/*----Section----*/
section article{
    padding: 9px;
    margin: 10px 300px 0 15px;
    background-color: #B4BFBD;
    text-align: center;
}
/*---Footer----*/
footer {
    padding: 8px 0;
    background-color:black;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 15px;
}
footer p{
    margin: initial;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 12px;
    color:white;
    margin-left: 5cm;
    margin-right: 5cm;
    font-size: 14px;
}
footer .btn {
    all:unset;
    font-size: 12px;
    color:white;
    cursor:pointer;
    font-style: italic;
    font-size: 14px;
}
footer .btn:hover{
    color: rgb(160, 157, 157);
    border-bottom:1px solid white;
}
footer a:hover{
    background-color: #ddd;
    color: white;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding: 80px;
}
.modal-content{
    background-color: #70CC7B;
    margin: 5% auto;
    border: 1px solid #888;
    width: 80%;
    height: 70%;
    position: relative;
    background-color: #70CC7B;
    padding: 25px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.2s
}

.close {
    color: grey;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}